{% extends 'base.html.twig' %}

{% block title %}Регистрация клиента{% endblock %}

{% block body %}
    <h1>Регистрация клиента</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}

    {{ form_start(form) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.phone) }}
    {{ form_row(form.email) }}
    {{ form_row(form.education) }}
    {{ form_row(form.consent) }}
    <button class="btn btn-primary" type="submit">Зарегистрировать</button>
    {{ form_end(form) }}
{% endblock %}
